/* #image{display: none;
       width: 200px;
       height: 200px; 
} */
body{
       display: flex;
       justify-content: center;
}
.chat{
    width: 400px;
}
.right-side{
   height: 25px;
   font-size: 14px;
   text-align: right;
   position: relative;
   right: 0px;
   color: white;
   background-color: purple;
   padding: 4px 5px;
   border: 1px solid black !important ;
   border-radius: 20px;
}
.right{
       position: relative;
       text-align: right;
       left: 0px;
}
.left-side{
       height: 25px;
       font-size: 14px;
       position: relative;
       text-align: right;
       left: 0px;
       color: white;
       background-color: purple;
       padding: 4px 5px;
       border: 1px solid black !important ;
       border-radius: 20px;
}

#message{
       position: fixed;
       bottom: 20px;
}
ul > li {
    list-style: none;
}